@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font and general styling */
body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

/* Hide scrollbar */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* Define custom fonts */
@font-face {
  font-family: 'Asteriod';
  src: url("./assets/fonts/HarewataruSansShavian-pg9r1.ttf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Logo';
  src: url("./assets/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Utility classes */
.text-balance {
  text-wrap: balance;
}
@layer utilities {
  .loader:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: inherit;
    border-radius: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }
}

/* Keyframes for animations */
@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0); }
  60%, 100% { transform: translate(-50%, -50%) scale(1); }
}

@keyframes pulse {
  0%, 60%, 100% { transform: scale(1); }
  80% { transform: scale(1.2); }
}